# Data Exploration and Feature Engineering with Snowpark

In this notebook, we will explore a dataset loaded into Snowflake, leveraging **Snowpark** to handle large datasets efficiently and directly within the Snowflake environment. This keeps all operations scalable and optimized for Snowflake's architecture, while also enabling distributed processing. We will also perform standard feature engineering tasks.

### Key Objectives:
1. Inspect the dataset (schema, missing values, basic statistics)
2. Explore numerical and categorical features
3. Perform feature engineering
4. Visualize a subset of the data

## 0 - Import Packages and Get Active Snowflake Session Object

In [ ]:
# Import required libraries

from snowflake.snowpark.session import get_active_session

# Import the Snowpark pandas plugin for Modin
import modin.pandas as spd  # Use Modin's Snowpark Pandas version
import snowflake.snowpark.modin.plugin  # Plugin to connect Modin with Snowflake
import snowflake.snowpark.functions as F

In [ ]:
## Session Initialization
#   Snowflake Notebooks automatically manage sessions, so we don't need to manually set up the connection.
#   We'll retrieve the active session using `get_active_session()`.

session = get_active_session()

## 1 - Load Data Into Snowflake for Exploration

### 1.1 Load Data into Snowflake Pandas Dataframes

Loading Data into Snowflake using Snowflake Modin Pandas Plugin
In this notebook, we will use the **Snowflake Snowpark Modin Pandas plugin** to load large CSV files into Snowflake. This plugin allows efficient data loading and processing in parallel using Modin.

In [ ]:
# Load the CSV files using Snowpark's Modin Pandas plugin
application_record_df = spd.read_csv('data/application_record.csv.zip')
credit_record_df = spd.read_csv('data/credit_record.csv.zip')

In [ ]:
# Display the first few rows
application_record_df.limit(5).show()

In [ ]:
# Display the first few rows
credit_record_df.limit(5).show()

### 1.2 Upload Data to Snowflake

Now that the data is loaded, we can upload it directly to Snowflake using the `write_pandas` method.
This creates the necessary tables and uploads the data to Snowflake.

In [ ]:
# Upload the Modin DataFrames to Snowflake tables
session.write_pandas(application_record_df, table_name='APPLICATION_RECORD', auto_create_table=True, overwrite=True)
session.write_pandas(credit_record_df, table_name='CREDIT_RECORD', auto_create_table=True, overwrite=True)

## 2 - Data Structure Exploration

We will begin with some basic transformations and analysis on two dataframes: application_record_df.

In [ ]:
# Create a new AGE column based on DAYS_BIRTH
application_record_df = application_record_df.with_column('AGE', F.floor(F.abs(F.col('DAYS_BIRTH')) / 365))

# Drop the old DAYS_BIRTH column
application_record_df = application_record_df.drop('DAYS_BIRTH')

application_record_df.show()

In [ ]:
# Filter rows based on income type
application_record_df = application_record_df.filter(F.col('NAME_INCOME_TYPE').in_(['Pensioner', 'Student']))

# Group and Aggregate Data
# We’ll group the data by CODE_GENDER and NAME_INCOME_TYPE and calculate the average age.
application_record_df = application_record_df.group_by(['CODE_GENDER', 'NAME_INCOME_TYPE']).agg(F.avg('AGE').alias('AVG_AGE'))

# Sort the data by AVG_AGE in descending order
application_record_df = application_record_df.sort(col('AVG_AGE').desc())

application_record_df.show()

### 2.1 - Data Exploration

1. Count Total Rows
2. Drop Duplicates
3. Get Summary Stats for Numerical Columns
4. Schema Exploration

In [ ]:
## 1. Count Total Rows
# Count the number of rows in application_record_df
row_count = application_record_df.count()

print(f"Total number of rows: {row_count}")

In [ ]:
## 2. Drop Duplicates
# Drop duplicates based on the 'ID' column
application_record_df = application_record_df.drop_duplicates('ID')

print(f"Number of rows after dropping duplicates: {application_record_df.count()}")

In [ ]:
## 3. Get Summary Stats for Numerical Columns
# We can generate descriptive statistics for numerical columns to understand the data distribution.

# Get summary statistics for numerical columns
application_record_df.describe().show()

In [ ]:
## 4. Schema Exploration
# We start by inspecting the schema to identify the data types of each column. 
# This exploration involves schema inspection, identifying categorical and numerical columns, and summarizing the distribution of income by gender and income type.

# Show the schema of the DataFrame
print(application_record_df.dtypes)

In [ ]:
# Categorical and Numerical Features
# Now, let’s identify which columns are categorical and which are numerical. 

# Identify categorical columns (string types)
categorical_columns = application_record_df.select_dtypes(include='object').columns.tolist()
print(f"Categorical columns: {categorical_columns}")

In [ ]:
# Identify numerical columns (integer and float types)
numerical_columns = application_record_df.select_dtypes(include=['int64', 'float64']).columns.tolist()
print(f"Numerical columns: {numerical_columns}")

In [ ]:
# Unique Values in Categorical Columns
# To understand the diversity in the categorical data, we will compute the number of unique values in each categorical column.
# Calculate the number of unique values per categorical column
unique_values = [(col, application_record_df[col].nunique()) for col in categorical_columns]

# Convert to DataFrame and display the results
unique_values_df = spd.DataFrame(unique_values, columns=['COLUMN_NAME', 'NUM_UNIQUE_VALUES'])
print(unique_values_df)

In [ ]:

# Distribution of Income by Gender and Income Type
# Next, we will compute the average income grouped by NAME_INCOME_TYPE and CODE_GENDER. 
# Using groupby and agg, this operation is distributed and faster for large datasets.

# Group by 'NAME_INCOME_TYPE' and 'CODE_GENDER', calculate the average income
analysis_df = application_record_df.groupby(['NAME_INCOME_TYPE', 'CODE_GENDER']).agg({'AMT_INCOME_TOTAL': 'mean'}).reset_index()

# Rename the column for better readability
analysis_df.columns = ['NAME_INCOME_TYPE', 'CODE_GENDER', 'AVG_INCOME']

# Sort the results by 'NAME_INCOME_TYPE' (ascending) and 'AVG_INCOME' (descending)
analysis_df = analysis_df.sort_values(by=['NAME_INCOME_TYPE', 'AVG_INCOME'], ascending=[True, False])


# Display the final result!
print(analysis_df)

## 3 - Persist Transformations
If we want to save the changes we can either save it as a table, meaning the SQL generated by the DataFrame is executed and the result is stored in a table or as a view where the DataFrame SQL will be the definition of the view.
save_as_table saves the result in a table, if mode='overwrite' then it will also replace the data that is in it.

In [ ]:
application_record_df.write.save_as_table(table_name='APPLICATION_RECORD', mode='overwrite')
session.table('APPLICATION_RECORD').show()